*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(78, 78, 115);
    max-height: 100vh;
}

img{
    max-width: 100%;
    border: 2px solid rgb(50, 71, 138);
    border-radius: 10px;
}

@font-face {
	font-family: 'BudmoJiggler-Regular';
	src: url('./fonts/budmojiggler-regular.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/budmojiggler-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/budmojiggler-regular.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/budmojiggler-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/budmojiggler-regular.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/budmojiggler-regular.svg#budmojiggler-regular') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Current';
	src: url('./fonts/current.eot'); /* IE 9 Compatibility Mode */
	src: url('./fonts/current.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('./fonts/current.woff2') format('woff2'), /* Super Modern Browsers */
		url('./fonts/current.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('./fonts/current.ttf') format('truetype'), /* Safari, Android, iOS */
		url('./fonts/current.svg#current') format('svg'); /* Chrome < 4, Legacy iOS */
}

.col{
    flex: 1;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.col button{
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}

.col button:hover{
    background: rgba(0,0,0,0.2);
    cursor: pointer;
}